<div>
  <app-notification></app-notification>
</div>
<div class ="min-h-screen bg-gradient-to-r from-black via-gray-700 to-yellow-600">
<div class="lg:w-4/12  p-12 shadow-lg shadow-black mx-auto bg-gradient-to-r from-black via-gray-700 to-yellow-600" >

  <h3 class="text-3xl text-center font-semibold py-5">Register</h3>
  <form [formGroup]="registerForm" class="flex flex-col">
    <div class="flex flex-col mt-2 mb-1">
      <input
        formControlName = "firstName"
        class="p-2 border border-gray-300 rounded"
        type="text"
        placeholder="FirstName"
      />
      <span *ngIf="registerForm.hasError('required', 'firstName') && registerForm.controls['firstName'].dirty" class="text-red-500">First Name is required</span>
    </div>
    <div class="flex flex-col mt-2 mb-1">
      <input
        formControlName = "lastName"
        class="p-2 border border-gray-300 rounded"
        type="text"
        placeholder="LastName"
      />
      <span *ngIf="registerForm.hasError('required', 'lastName') && registerForm.controls['lastName'].dirty" class="text-red-500">Last Name is required</span>
    </div>
    <div class="flex flex-col mt-2 mb-1">
      <input
        formControlName = "email"
        class="p-2 border border-gray-300 rounded"
        type="text"
        placeholder="Email"
      />
      <span *ngIf="registerForm.hasError('required', 'email') && registerForm.controls['email'].dirty" class="text-red-500">Email is required</span>
      <span *ngIf="registerForm.hasError('email', 'email') " class="text-red-500">Email is Invalid</span>
      <span *ngIf="errorMessageEmail" class="text-red-500">{{errorMessageEmail}}</span>
    </div>
    <div class="flex flex-col mt-2 mb-1">
      <input
        formControlName = "userName"
        class="p-2 border border-gray-300 rounded"
        type="text"
        placeholder="User Name"
      />
      <span *ngIf="registerForm.hasError('required', 'userName') && registerForm.controls['userName'].dirty" class="text-red-500">User Name is required</span>
      <span *ngIf="errorMessageUsername" class="text-red-500">{{errorMessageUsername}}</span>
    </div>
    <div class="flex flex-col mt-2 mb-1">
      <input
        formControlName ="password"
        class="p-2 border border-gray-300 rounded"
        type="password"
        placeholder="Password"
      />
      <span *ngIf="registerForm.hasError('required', 'password') && registerForm.controls['password'].dirty" class="text-red-500">Password is required</span>
    </div>
    <div class="flex flex-col mt-2 mb-1">
      <input
        formControlName ="confirmPassword"
        class="p-2 border border-gray-300 rounded"
        type="password"
        placeholder="Confirm Password"
      />
      <span *ngIf="registerForm.hasError('required', 'confirmPassword') && registerForm.controls['confirmPassword'].dirty" class="text-red-500">Confirm Password is required</span>
      <span *ngIf="registerForm.hasError('confirmPasswordValidator', 'confirmPassword')" class="text-red-500">Password's dont match</span>
    </div>
    <button  [disabled]="registerForm.invalid"
             [class.disabled]="registerForm.invalid"
             (click)="register()" class="bg-indigo-500 p-2 rounded-lg mt-2 text-white hover:border-gray-700
             border-transparent border-2 transition-transform duration-100 ease-in-out active:scale-110">
      Submit</button>

    <div class="flex items-center my-4">
      <hr class="flex-grow border-gray-300">
      <span class="mx-2 text-gray-500">or</span>
      <hr class="flex-grow border-gray-300">
    </div>

    <button type="button"
            class="w-full mt-3 block bg-white hover:bg-gray-100
            focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4 py-3 border border-gray-300">
      <div class="flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             class="w-6 h-6" viewBox="0 0 48 48">
          <defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1
          37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.64.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/>
          </defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/>
        </clipPath><path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"/>
          <path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"/><path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"/>
          <path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"/></svg>
        <span class="ml-4">Register with Google</span></div></button>

    <button type="button"
            class="w-full mt-3 block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4 py-3 border border-gray-300">
      <div class="flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6">
          <path fill="none" d="M0 0h24v24H0z"/>
          <path d="M22 2.75a.769.769 0 0 0-.192-.535l-2.12-2.12a.776.776 0 0
          0-.534-.192H4.846a.772.772 0 0 0-.77.77v20.462c0 .425.345.77.77.77h9.076v-8.308h-2.31v-3.231h2.31V7.846c0-2.31 1.343-3.538 3.462-3.538.99 0 1.848.073 2.096.106v2.43h-1.437c-1.128 0-1.346.537-1.346 1.322v1.73h2.69l-.35 3.23h-2.34V24h4.615a.772.772 0 0 0 .77-.77V2.75z"/>
        </svg>
        <span class="ml-4">Register with Facebook</span></div></button>
  </form>
  <div class="flex justify-center mt-5">
    <span>Already Have Account?</span>
    <a routerLink="/login" class="text-indigo-600 ml-2 cursor-pointer hover:text-white">Login Here</a>
  </div>
</div>

</div>
