
<div>
  <!--  <app-notification></app-notification>-->
</div>
<div class="min-h-screen bg-gradient-to-r from-black via-gray-700 to-yellow-600 ">
  <div class="mt-0  bg-white">
    <div class="text-center bg-black text-white py-20">
      <h1 class="text-6xl">Edit Masters</h1>
      <p class="text-2xl">Welcome to Edit Masters your Pdf and Photo Editing Suite</p>

    <div class="mt-3 m-2 bg-gray-700">
      <div class="flex flex-wrap -mx-4 ">
        <div class="w-full md:w-1/3 px-4">
          <div
            class="bg-gray-700 shadow-yellow-600 shadow-xl  rounded overflow-hidden">
            <div class="p-6">
              <h3 class="text-xl  font-bold">PDF Editing Tools</h3>
              <p class="text-white">Annotate,Edit, merge and work on PDFs along with your team using the collaborative features</p>
              <button routerLink="/pdfupload" class="bg-indigo-500 p-2 rounded mt-2 text-white">Go to PDF editing Tools -> </button>
            </div>
          </div>
        </div>

        <div class="w-full md:w-1/3 px-4">
          <div class="bg-gray-700 shadow-yellow-600 shadow-xl rounded overflow-hidden">
            <div class="p-6">
              <h3 class="text-xl font-bold">Photo Editing Tools</h3>
              <p class="text-white">Design, crop, and manipulate your images with ease and with your team using the collaborative features</p>
              <button class="bg-indigo-500 p-2 rounded mt-2 text-white disabled" disabled>Go to Photo editing Tools --> </button>
            </div>
          </div>
        </div>

        <div class="w-full md:w-1/3 px-4">
          <div class="bg-gray-700 shadow-yellow-600 shadow-xl  rounded overflow-hidden">
            <div class="p-6">
              <h3 class="text-xl font-bold">Collaborate features</h3>
              <p class="text-white">Collaborate and share pdfs and photos with your friends and colleagues to work together on projects</p>
              <button class="bg-indigo-500 p-2 rounded mt-2 text-white disabled" disabled>Collaborate and share -></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
