
<div class="min-h-screen bg-gradient-to-r from-black via-gray-700 to-yellow-600 " >
<div class="lg:w-4/12  p-12 shadow-lg shadow-black ml-auto mr-auto">
  <h3 class="text-3xl text-center font-semibold py-5">Forgot Password</h3>
  <form [formGroup]="forgetForm" class="flex flex-col">
    <div class="mb-4 bg-blue-200 border-l-4 border-blue-500 text-blue-700 p-4" role="alert">
      <p class="font-bold flex items-center">
        <i class="fa-solid fa-circle-info"></i>
         Information
      </p>
      <p>Enter your email and we will send you instructions on how to recover your password</p>
    </div>
    <div class="flex flex-col mt-2 mb-1">
      <input
        formControlName = "email"
        class="p-2 border border-gray-300 rounded"
        type="text"
        placeholder="Email address "/>
      <span *ngIf="forgetForm.hasError('required', 'email') && forgetForm.controls['email'].dirty" class="text-red-500">Email is required</span>
      <span *ngIf="forgetForm.hasError('email', 'email') " class="text-red-500">Email is Invalid</span>
      <span *ngIf="errorMessageEmail" class="text-red-500">{{errorMessageEmail}}</span>
    </div>

<div class ="mt-2">
  <button [disabled]="forgetForm.invalid"
          [class.disabled]="forgetForm.invalid"
          (click)="sendEmail()"
          class="bg-indigo-500 w-1/4 mr-3 p-2 rounded-lg text-gray-50 hover:border-black
          border-transparent border-2 transition-transform duration-300 ease-in-out active:scale-110">
    <i class="fa-solid fa-circle-check"></i>
    Recover</button>

  <button routerLink="/login"
          class="bg-red-600 w-1/4 mr-3 p-2 rounded-lg text-gray-50
          hover:border-black border-transparent border-2 transition-transform duration-300 ease-in-out active:scale-110">
    <i class="fa-solid fa-circle-xmark"></i> Cancel</button>
</div>
  </form>
</div>
</div>
