
<div class="min-h-screen bg-gradient-to-r from-black via-gray-700 to-yellow-600 " >
<div class="lg:w-4/12  p-12 shadow-lg shadow-black mx-auto bg-gradient-to-r from-black via-gray-700 to-yellow-600">
  <h3 class="text-3xl text-center font-semibold py-5">Admin Login</h3>
  <form [formGroup]="adminloginForm" class="flex flex-col">
    <div class="flex flex-col mt-2 mb-1">
      <input
        formControlName = "email"
        class="p-2 border border-gray-300 rounded"
        type="text"
        placeholder="Email"
      />
      <span *ngIf="adminloginForm.hasError('required', 'email') && adminloginForm.controls['email'].dirty" class="text-red-500">Email is required</span>
      <span *ngIf="adminloginForm.hasError('email', 'email') " class="text-red-500">Email is Invalid</span>
      <span *ngIf="errorMessageEmail" class="text-red-500">{{errorMessageEmail}}</span>
    </div>

    <div class="flex flex-col mt-2 mb-1">
      <input
        formControlName ="password"
        class="p-2 border border-gray-300 rounded"
        type="password"
        placeholder="Password"
      />
      <span *ngIf="adminloginForm.hasError('required', 'password') && adminloginForm.controls['password'].dirty" class="text-red-500">Password is required</span>
    </div>

    <button
      [disabled]="adminloginForm.invalid" [class.disabled]="adminloginForm.invalid"
      (click)="adminlogin()" class="bg-indigo-500 p-2  mt-2
      text-white  hover:border-black border-transparent rounded-lg
      border-2 transition-transform duration-300 ease-in-out active:scale-110">Login</button>
  </form>
  <div class="mt-4 text-right">
    <button routerLink="/login" class="text-red-500 cursor-pointer bg-gray-200 px-2 py-1 rounded-lg  hover:border-black border-transparent border-2 transition-transform duration-300 ease-in-out active:scale-110">
      <i class="fa-solid fa-circle-arrow-right"></i>
     User Login</button>
  </div>

</div>
</div>
